/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* code chung */
.clear {
    clear: both;
}

/* dùng chung khi muốn đổi chữ thành màu trắng */
.text-white {
    color: #fff !important; 
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.btn {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

/* code main */

#main {

}

#header {
    background-color: black;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav > li {
    display: inline-block;
}

#nav li {
     position: relative;
}


#nav li a {
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 0 32px;
    display: block;
}


#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: none;
    list-style-type: none;
}

#nav .subnav a {
    color: black;
    line-height: 38px;
    padding: 0 12px;
    min-width: 160px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
}


#header .menu-icon,
#header .search-icon {
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
    font-size: 20px;
}

#header .search-btn:hover {
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slide/silder1.jpg') top center / cover no-repeat;
}

#slider .text-heading {
    color: #fff;
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;

}

#slider .text-address {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-content {
    margin-top: 25px;
    font-size: 15px;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    opacity: 0.8;
    margin-top: 22px;
}

#content .about-text {
    font-size: 15px;
    margin-top: 22px;
    line-height: 1.5;
    text-align: justify;
}

#content .member-list {
    margin-top: 32px;
}

#content .member-name   {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    text-align: left;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    background: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin: -3px;
}

.places-list {
    margin-top: 16px;
}

.places-img {
    width: 100%;
    display: block;
}

.places-img:hover {
    opacity: 0.6;
}

.places-body {
    background: #fff;
    text-align: left;
    padding: 16px;
    font-size: 15px;
}

.places-heading {
    margin-top: 15px;
    font-weight: 600;
}

.places-time {
    margin-top: 15px;
    color: #757575;
    
}

.places-desc {
    margin: 15px 0;
    line-height: 1.4;
}


.text-contact {
    text-align: left;
}

.contac-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    position: relative;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.4s;
}

.modal-header {
    padding: 47px 16px;
    text-align: center;
    background-color: #009688;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4.5px;
}

.modal-close {
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 14px;
    padding: 14px 13px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
}

.modal-body {
    margin: 0 16px;
}

.modal-label {
    display: block;
    margin-top: 15px;
}

.modal-input {
    width: 100%;
    margin: 15px 0;
    padding: 12px;
    border: 1px solid #ccc;
}

.modal-buy {
    margin: 16px;
}

.modal-pay:hover {
    background-color: #ccc;
}

.modal-pay {
    width: 100%;
    padding: 16px;
    background-color: #009688;
    border: none;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}

.modal-footer {
    text-align: right;
    padding: 16px;
}

.modal-help {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}